---
const { data } = Astro.props;
---

<article class="product">
  {data.discount > 0 && <div class="badge discount">-{data.discount},-</div>}

  {data.soldout > 0 && <div class="badge sold-out">UDSOLGT</div>}

  <img
    src=`https://kea-alt-del.dk/t7/images/webp/640/${
  data.id
}.webp`
    alt="trøje"
  />
  <p>
    <b>{data.articletype}</b><br />

    {
      data.discount > 0 && (
        <>
          <span class="prev-price">DKK {data.price},-</span>
          <br />
        </>
      )
    }

    <span class="current-price">{data.price - data.discount},-</span><br />
    <a href="data.html?id=${data.id}">Read More</a>
  </p>
</article>
